* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}
header {
    display: flex;
    align-items: center;
}
header img {
    height: 48px;
    padding: 8px;
}
header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0auto;
}